body {
    /*display: none;*/
    width: 100%;
    height: 100%;
    background-image:url(img/landscape-sunset-beach-sand.jpg);
    overflow-x: hidden;
    font-weight: 400;
    margin-top: 70px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
p{
    color: ghostwhite;
}
h3{
    color: ghostwhite;
    font-family:inherit;
}
label{
    color: black;
    font-family:Nunito;
}
.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    background-color: black;
    border-color: black;
}
.btn-warning{
    background-color: orangered;
    border-color: black;
}
.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

#title {
    width: 100%;
    background-color: none;
    color:navajowhite;
    font-size: 6em;
    text-align: center;
}

#title h1 {
    font-size: 1em;
}

#results {
    width: 100%;
    background-color: black;
}

th {
    font-weight: 700;
    font-size: 1.3em;
}

tr td {
    vertical-align: middle;
}

th,
td {
    padding: 50px;
}

.mini-profile {
    width: auto;
    background-image:url(img/wood-texture-640x925.jpg);
    box-shadow: 0 0 2px 5px rgb(255,255,255);
    position: relative;
    margin-top: 20px;
    padding: 2% 6% 2% 4%;
    /*border-radius:10px;*/
}

.mini-profile h2 {
    color:floralwhite;
    font-size: 3em;
}

.mini-profile h3 {
    margin-top: -2%;
    font-weight: 400;
    font-size: 1.5em;
    color: floralwhite;
}

.mini-profile h4 {
    font-size: 1.2em;
    font-weight: 400;
    color: floralwhite;
}

#mini-pic {
    margin-left: 8%;
    border-radius: 100%;
    width: 15vw;
}

@media(max-width:767px) {
    .mini-profile {
        margin-top: 10px;
    }
    .mini-profile h2 {
        text-align: center;
    }
    .mini-profile h3 {
        text-align: center;
    }
    .mini-profile h4 {
        text-align: justify;
    }
    #mini-pic {
        width: 50vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .input-group {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .navbar-collapse {
        overflow-x: hidden;
    }
}

.fave {
    color: white;
    background-color: none;
}
.glyphicon-star {
  padding: 0px 0px;
  color:darkorange;
  font-size: 18px;
  line-height: 0;
  border-radius: 0px;
}
.glyphicon-pencil {
    color:coral;
}
.glyphicon-apple {
    color:darkgreen;
}
.well {
    background-image: url(img/summer-garden-dinner-eating.jpg);
    border-color: black;
}
#two.well{
    background-image: url(../img/flowers-crop.jpg);
}
.foot {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: dimgray;
    border-top: 1px solid lightgray;
}

.navbar {
    background: rgba(255, 255, 255, 0.7);
}